<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gufang.oa.mapper.AnimalMapper">
	<select id="findAnimal" resultType="com.gufang.oa.bean.AnimalInfo">
		select an.*,an.weigth weight,b.rname regionName,b.rid regionId from t_animal an left join
			(select group_concat(r.name) rname,group_concat(r.rid) rid,a.aid 
			from t_region r,t_a2r a where r.rid=a.rid group by a.aid) b
			on an.aid=b.aid where an.name like '%${query}%'
	</select>
	<select id="findRegion" resultType="com.gufang.oa.bean.RegionInfo">
		select rid id,name from t_region
	</select>
	<insert id="saveAnimal" parameterType="com.gufang.oa.bean.AnimalInfo"
		useGeneratedKeys="true" keyProperty="aid" keyColumn="aid">
		insert into t_animal(name,weigth) values(#{name},#{weight})
	</insert>
	<update id="updateAnimal" parameterType="com.gufang.oa.bean.AnimalInfo">
		update t_animal set name=#{name},weigth=#{weight} where aid=#{aid}
	</update>
	<delete id="deleteAnimal" parameterType="Integer">
		delete from t_animal where aid=#{aid}
	</delete>
	<insert id="saveA2R" parameterType="com.gufang.oa.bean.A2RInfo">
		insert into t_a2r(aid,rid) values(#{aid},#{rid})
	</insert>
	<delete id="deleteA2R" parameterType="Integer">
		delete from t_a2r where aid=#{aid}
	</delete>
	<select id="findRegionByAid" parameterType="Integer" resultType="String">
		select group_concat(name) from t_region r,t_a2r a2r where r.rid=a2r.rid 
			and a2r.aid=#{aid} group by a2r.aid
	</select>
</mapper>
